<header>
  <div id="page-title">
    <h1>Notes App</h1>
  </div>
  <%= erb :_btn_create_note %>
</header>
<div id="notes-list">
  <% if @notes.empty? %>
    no notes
  <% else %>
    <% @notes.each do |note| %>
    <div class="note" id="note-<%= note.id %>">
      <div class="title">
        <%= trim_to(note.title) %>
      </div>
      <div class="content">
        <%= note.content %>
      </div>
      <div class="delete">
        <%= erb :_btn_delete_note, locals: {note_id: note.id} %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
